*{
    margin-top: 0px;
}

input{
    margin-top: 25px;
}

.background{
    position: relative;
    background-image: url("https://wallpapercave.com/wp/wp4390828.jpg");
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container {
    padding: 50px;
    padding-inline: 100px;
    border-radius: 25px;
    border: 2px solid black;
    margin: 20px;
    background-color: aliceblue;
    position: absolute;
    top: 25%;
}

.Login{
    display: flex;
    justify-content: center;
}

.input-text{
    background-color: #e0e1e9;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 5px;
    width: 100%;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }

  .submit:active {
    background-color: #06b;
  }
  

  .register{
    text-decoration: none;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(55, 98, 117);
  }