/* .visible{
    display: block;
} */

img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.hidden{
    display: none;
}

.popup{
    display: none;
    position: absolute;
    top: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}

.popup_content {
    background-color: white;
    position: relative;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
  }

  .close{
    float: right;
  }

  .close:hover{
    cursor: pointer;
    color: red;
  }

  .edit{
    float: right;
  }

  .edit:hover{
    cursor: pointer;
    color:rgb(71, 84, 223)
  }

  .pfpdiv{
    display: flex;
    justify-content: center;
  }

  .pfp:hover{
    cursor: pointer;
  }

  .pfpdivbutton{
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }

.uploadImageForm{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.50);
  background-color: aliceblue;
  display: none;
}

.uploadImageForm.display{
  display: block;
}


.addfriend {
  display: none;
  background-color: white;
  position: relative;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.addfriend.display{
  display: block;
}

.editusernamewindow {
  display: none;
  background-color: white;
  position: relative;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.editusernamewindow.display {
  display: block;
}

.friendid {
  color: rgb(174, 174, 174);
}